<div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlexOffset="10">
    <img fxLayout="Column" style="height:100%;width: 50%;"fxFlex="50" class="firstimage"src="../../../assets/images/top-view.jpg" />
    <div fxFlexOffset="3" style="margin:auto;height:100%;width: 100%;" >
    <h1>Blink MakeUp Store
    </h1>
    <h2>Best Store for MakeUp to make you Shine</h2>
    <div>
        <a href="default.asp"><img src="../../../assets/images/share_google_play_logo.png"  style="width:150px;height:100px;"></a>
        <a href="default.asp"><img src="../../../assets/images/png-transparent-itunes-app-store-apple-logo-apple-text-rectangle-logo.png"  style="width:150px;height:70px;"></a>
    </div>
</div>
</div>
