.firstimage{
    
    border-radius: 100px;
}
h1 {
   margin-top: 20%;
    color: blueviolet;
    font-size: 420%;
  }
  h2{
    color: blueviolet;
  }
  div{
    text-align: center;
    margin-top: 10%;
  }
 